swagger: '2.0'
info:
  description: |
    This is the TAUS DQF API server.
  version: '1.2'
  title: TAUS DQF
  termsOfService: 'https://www.taus.net/taus-terms-of-use'
  contact:
    name: dqf@taus.net
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: dqf.taus.net
basePath: /api/v1
schemes:
  - https
produces:
  - application/json
paths:
  /productivityProject:
    post:
      tags:
        - project
      summary: Add a new project to dqf
      description: 'Initialize a new project that is sent to the DQF tools. Project attributes include name of project, quality level, process or mode of translation, source language, content type and industry. To add target languages and assign translators to a project use the POST(/productivityProject/{projectid}/task) method.'
      operationId: addProject
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The user API key
          required: true
          type: string
        - name: name
          in: query
          description: Project name in the DQF tools
          required: true
          type: string
        - name: quality_level
          in: query
          description: The id of the quality level of the translation. Use the GET(/qualitylevel) to get a list of the quality levels from the database.
          required: true
          type: integer
        - name: process
          in: query
          description: 'The id of the process used for the translation. Use the GET(/process) to get a list of processes from the database. For example, Human, MT+PE, TM+Human, MT+PE+Human, MT+PE+TM+Human.'
          required: true
          type: integer
        - name: source_language
          in: query
          description: "Source language of the project.  Use of (two letter language id)-(two letter country identifier) combination. Validity of the id's (ISO 639-1 and ISO 3166 two-letter identifiers). Example (bg-BG, fr-FR, fr-CA, pt-BR)."
          required: true
          type: string
        - name: contentType
          in: query
          description: The id of the content type of the translation. Use the GET(/contenttype) to get a list of content types from the database.
          required: true
          type: integer
        - name: industry
          in: query
          description: The id of the industry of the translation. Use the GET(/industry) to get a list of industries from the database.
          required: true
          type: integer
      responses:
        '200':
          description: Successful operation. The project id and the project_key will be included in the response Headers.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
  '/productivityProject/{projectid}':
    get:
      tags:
        - project
      summary: Find project by ID
      description: 'Project Managers and Translators can read a project by specifying its id. Either the DQF_PMANAGER_KEY or the DQF_TRANSLATOR_KEY need to be passed with the request, not both!!!'
      operationId: findProjectById
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The PM API key. Only if a PM needs to access the project information
          required: true
          type: string
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The Translator API key. Only if the Translator is part of the project.
          required: true
          type: string
        - in: path
          name: projectid
          description: ID of project that needs to be fetched
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation. Returns the productivity project.
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
      security:
        - DQF_PMANAGER_KEY: []
        - DQF_TRANSLATOR_KEY: []
  '/productivityProject/{projectid}/task/':
    get:
      tags:
        - project
        - task
      summary: Find the tasks of a Project
      description: Get the task IDs of a project by specifying the project id.
      operationId: findProjectTasks
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The PM API key.
          required: true
          type: string
        - in: path
          name: projectid
          description: ID of project that needs to be fetched
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation. Returns a list of the tasks of the project.
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
      security:
        - DQF_PMANAGER_KEY: []
  '/productivityProject/{projectid}/task':
    post:
      tags:
        - project
        - task
      summary: Add target languages and translators to a project.
      description: Add target languages and assign translators for each language pair to an initialized project by specifying its id. A task will be created for each translator assigned to a language pair.
      operationId: assignTask
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The Project Manager API key. Only if the Project Manager creates the task.
          required: true
          type: string
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The Translator API key. Only if the Translator creates the task.
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          type: string
        - in: path
          name: projectid
          description: ID of project that a new task has to be added.
          required: true
          type: integer
          format: int64
        - name: target_language
          in: query
          description: "The target language of the project. Use of (two letter language id)-(two letter country identifier) combination. Validity of the id's (ISO 639-1 and ISO 3166 two-letter identifiers). Example (bg-BG, fr-FR, fr-CA, pt-BR)."
          required: true
          type: string
        - name: file_name
          in: query
          description: The name of the file that needs to be translated into the target language.
          required: true
          type: string
        - in: query
          name: translatorid
          description: Only if the Project Manager creates the task. Project Managers can assign tasks directly to translators by specifying the translator ID. Use the GET(/api/v1/translator) method to find the translator ID.
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation. Returns a taskid for each translator that has been assigned with a target language in the project.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
        - DQF_TRANSLATOR_KEY: []
        - DQF_PROJECT_KEY: []
  '/productivityProject/{projectid}/task/{taskid}':
    get:
      tags:
        - task
      summary: Find task by ID
      description: 'Read a task by specifying its id. Either the DQF_PMANAGER_KEY or the DQF_TRANSLATOR_KEY need to be passed with the request, not both!!!'
      operationId: findTaskById
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The PM API key. Only if a PM needs to access the project information
          required: true
          type: string
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The Translator API key. Only if the Translator is part of the project.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          required: true
          type: string
        - name: projectid
          in: path
          description: The project id in the DQF tools
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: The task id belonging to a project in the DQF tools
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation. Returns the language pair and the translator for each task.
        '400':
          description: Wrong parameters
        '404':
          description: Project-Task not found
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
        - DQF_TRANSLATOR_KEY: []
        - DQF_PROJECT_KEY: []
  '/productivityProject/{project_id}/task/{task_id}/translator':
    put:
      tags:
        - project
        - task
        - translator
      summary: Update the translator of a task.
      description: Update the translator of a task by specifying the task id.
      operationId: updateTaskTranslatorById
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The Project Manager API key. Only if the Project Manager creates the task.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          type: string
        - in: path
          name: project_id
          description: ID of the project that the task belongs.
          required: true
          type: integer
          format: int64
        - in: path
          name: task_id
          description: ID of the task that needs to be updated.
          required: true
          type: integer
          format: int64
        - in: query
          name: translatorid
          description: Project Managers can update task translators directly by specifying the translator ID. Use the GET(/api/v1/translator) method to find the translator ID.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
        - DQF_PROJECT_KEY: []
  '/productivityProject/{projectid}/task/{taskid}/segment':
    post:
      tags:
        - task
        - segment
      summary: Add segments for a task
      description: 'A complete translated target segment can be submitted together with the source and the temporary translated segment for a particular task of a project. The translation time, the TM fuzzy match, and the technologies used can be submitted as well.'
      operationId: addSegment
      produces:
        - application/json
      parameters:
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The translator API key.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          required: true
          type: string
        - name: projectid
          in: path
          description: The project id in the DQF tools
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: The id of task that the segment needs to be added.
          required: true
          type: string
        - name: source_segment
          in: query
          description: The source segment
          required: false
          type: string
        - name: target_segment
          in: query
          description: The MT output or TM match or empty segment.
          required: false
          type: string
        - name: new_target_segment
          in: query
          description: The output of the translator.
          required: false
          type: string
        - name: time
          in: query
          description: The translation time in milliseconds.
          required: false
          type: integer
          format: int64
        - name: tm_match
          in: query
          description: The TM match (percentage).
          required: false
          type: integer
          minimum: 0
          maximum: 100
        - name: cattool
          in: query
          description: The id of the CAT tool used for the translation of the segment. Use the GET(/cattools/) to get a list of CAT tools from the database.
          required: true
          type: integer
        - name: mtengine
          in: query
          description: The id of the MT Engine used for the translation of the segment. Use the GET(/mtengines/) to get a list of MT Engines from the database.
          required: true
          type: integer
        - name: mt_engine_version
          in: query
          description: The version of the MT engine.
          required: false
          type: string
        - name: segment_origin
          in: query
          description: The origin of the segment.
          required: false
          type: string
          enum: 
          - mt
          - tm
          - termbase
          - other
          - none
        - name: segment_origin_detail
          in: query
          description: A string describing details of the segment origin, for example a translation memory name.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation. The segment id will be included in the response Headers.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_TRANSLATOR_KEY: []
        - DQF_PROJECT_KEY: []
  '/productivityProject/{projectid}/task/{taskid}/segment/{segmentid}':
    put:
      tags:
        - task
        - segment
      summary: Update a segment of a task
      description: An already submitted translated segment can be updated. The time with be added to the segment already submitted.
      operationId: updateSegment
      produces:
        - application/json
      parameters:
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The translator API key.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          required: true
          type: string
        - name: projectid
          in: path
          description: The project id in the DQF tools.
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: The id of task in the DQF tools.
          required: true
          type: string
        - in: path
          name: segmentid
          description: The id of segment that needs to be updated.
          required: true
          type: string
        - name: source_segment
          in: query
          description: The source segment
          required: false
          type: string
        - name: target_segment
          in: query
          description: The MT output or TM match or empty segment.
          required: false
          type: string
        - name: new_target_segment
          in: query
          description: The new output of the translator.
          required: false
          type: string
        - name: time
          in: query
          description: The translation time in milliseconds.
          required: true
          type: integer
          format: int64
        - name: tm_match
          in: query
          description: The TM match (percentage).
          required: false
          type: integer
          minimum: 0
          maximum: 100
        - name: mtengine
          in: query
          description: The id of the new MT Engine used for the translation of the segment. Use the GET(/mtengines/) to get a list of MT Engines from the database.
          required: true
          type: integer
        - name: mt_engine_version
          in: query
          description: The version of the updated MT engine.
          required: false
          type: string
        - name: segment_origin
          in: query
          description: The origin of the segment.
          required: false
          type: string
          enum: 
          - mt
          - tm
          - termbase
          - other
          - none
        - name: segment_origin_detail
          in: query
          description: A string describing details of the segment origin, for example a translation memory name.
          required: false
          type: string
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_TRANSLATOR_KEY: []
        - DQF_PROJECT_KEY: []
  '/productivityProject/{projectid}/task/{taskid}/segment/{segmentid}/review':
    post:
      tags:
        - task
        - segment
        - errorreview
      summary: Add error review for a segment
      description: 'Used to add error review for existing segment. Can be used to submit error description and/or proofread corrected target text.'
      operationId: addErrorReview
      produces:
        - application/json
      parameters:
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The translator API key.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          required: true
          type: string
        - name: projectid
          in: path
          description: The project id in DQF tools.
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: The id of the task of the reviewed segment.
          required: true
          type: integer
          format: int64
        - in: path
          name: segmentid
          description: The id of the segment that the error review needs to be added to.
          required: true
          type: integer
          format: int64
        - name: errorLevel1Id
          in: query
          description: Id of the top level error type.
          required: false
          type: integer
          format: int64
        - name: errorLevel2Id
          in: query
          description: Id of the second level error type.
          required: false
          type: integer
          format: int64
        - name: severity
          in: query
          description: The severity of the error.
          required: false
          type: string
          enum: 
          - critical
          - major
          - minor
          - neutral
        - name: kudos
          in: query
          description: Indicates whether reviewed segment earned kudos.
          type: boolean
          default: false
        - name: comment
          in: query
          description: Written comment on the reviewed error.
          required: false
          type: string 
        - name: time
          in: query
          description: The review time in milliseconds.
          required: false
          type: integer
          format: int64
        - name: characterPosStart
          in: query
          description: Character position where the error substring starts.
          required: false
          type: integer
          format: int64
        - name: characterPosEnd
          in: query
          description: Character position where the error substring ends.
          required: false
          type: integer
          format: int64
        - name: editedText
          in: query
          description: Segment target text edited during error review.
          required: false
          type: string 
      responses:
        '200':
          description: Successful operation. The review id will be included in the response Headers.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
  '/productivityProject/{projectid}/task/{taskid}/segment/{segmentid}/review/{reviewid}':
    put:
      tags:
        - task
        - segment
        - errorreview
      summary: Update error review for a segment
      description: 'Used to update error review for existing segment. Can be used to submit error description and/or proofread corrected target text.'
      operationId: updateErrorReview
      produces:
        - application/json
      parameters:
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The translator API key.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          required: true
          type: string
        - name: projectid
          in: path
          description: The project id in DQF tools.
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: The id of the task of the reviewed segment.
          required: true
          type: integer
          format: int64
        - in: path
          name: segmentid
          description: The id of the segment that the error review needs to be added to.
          required: true
          type: integer
          format: int64
        - name: reviewid
          in: path
          description: The id of the error review that needs to be updated.
          required: true
          type: integer
          format: int64
        - name: errorLevel1Id
          in: query
          description: Id of the top level error type.
          required: false
          type: integer
          format: int64
        - name: errorLevel2Id
          in: query
          description: Id of the second level error type.
          required: false
          type: integer
          format: int64
        - name: severity
          in: query
          description: The severity of the error.
          required: false
          type: string
          enum: 
          - critical
          - major
          - minor
          - neutral
        - name: kudos
          in: query
          description: Indicates whether reviewed segment earned kudos.
          type: boolean
          default: false
        - name: comment
          in: query
          description: Written comment on the reviewed error.
          required: false
          type: string 
        - name: time
          in: query
          description: The review time in milliseconds.
          required: false
          type: integer
          format: int64
        - name: characterPosStart
          in: query
          description: Character position where the error substring starts.
          required: false
          type: integer
          format: int64
        - name: characterPosEnd
          in: query
          description: Character position where the error substring ends.
          required: false
          type: integer
          format: int64
        - name: editedText
          in: query
          description: Segment target text edited during error review.
          required: false
          type: string 
      responses:
        '200':
          description: Successful operation. The review id will be included in the response Headers.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
  /projectmanager/:
    get:
      tags:
        - projectmanager
      summary: Project managers - Retrieve own information
      description: 'The Project managers will be able to retrieve the id,name and email of their own.'
      operationId: getProjectManagerInfo
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The Project manager API key.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation. Returns the Project manager information.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
  /translator:
    post:
      tags:
        - translator
      summary: Create a translator
      description: Translators can submit their name and email to get the DQF_TRANSLATOR_KEY send to them through email.
      operationId: createTranslator
      produces:
        - application/json
      parameters:
        - in: query
          name: name
          description: The name of the translator
          required: false
          type: string
        - in: query
          name: email
          description: The email of the translator
          required: true
          type: string
          format: email
      responses:
        '200':
          description: Successful operation. Returns the id of the translator.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
    get:
      tags:
        - translator
      summary: Project Managers - Retrieve translator information
      description: 'The project manager will be able to retrieve the id,name and email of a translator.'
      operationId: getPMTranslators
      produces:
        - application/json
      parameters:
        - name: DQF_PMANAGER_KEY
          in: header
          description: The translator API key.
          required: true
          type: string
        - in: query
          name: translatorid
          description: The id of the translator
          required: false
          type: integer
          format: int64
        - in: query
          name: name
          description: The name of the translator
          required: false
          type: string
        - in: query
          name: email
          description: The email of the translator
          required: false
          type: string
          format: email
      responses:
        '200':
          description: Successful operation
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
  /translator/:
    get:
      tags:
        - translator
      summary: Translators - Retrieve own information
      description: 'The translators will be able to retrieve the id,name and email of their own.'
      operationId: getTranslatorInfo
      produces:
        - application/json
      parameters:
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The Translator API key.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation. Returns the translator information.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_TRANSLATOR_KEY: []
  '/translator/{translator_id}':
    put:
      tags:
        - translator
      summary: Translators - Update own information
      description: The translators will be able to update their own name and email.
      operationId: updateTranslatorInfo
      produces:
        - application/json
      parameters:
        - name: DQF_TRANSLATOR_KEY
          in: header
          description: The Translator API key.
          required: true
          type: string
        - name: translator_id
          in: path
          description: The translator id in the DQF tools.
          required: true
          type: string
        - in: query
          name: name
          description: The new name of the translator
          required: false
          type: string
        - in: query
          name: email
          description: The new email of the translator
          required: false
          type: string
          format: email
      responses:
        '200':
          description: Successful operation. Returns the updated translator information.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_TRANSLATOR_KEY: []
  '/translator/{project_id}/':
    get:
      tags:
        - project
        - translator
      summary: Find the translators of a project
      description: The project manager will be able to get all the translator names and email that worked on a project.
      operationId: getPMProjectTranslators
      produces:
        - application/json
      parameters:
        - in: path
          name: project_id
          description: ID of project that needs to be fetched
          required: true
          type: integer
          format: int64
        - name: DQF_PMANAGER_KEY
          in: header
          description: The PM API key.
          required: true
          type: string
        - name: DQF_PROJECT_KEY
          in: header
          description: The project API key.
          required: true
          type: string
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Wrong parameters
        '401':
          description: Unauthorized
        '403':
          description: Access is not permitted
        '405':
          description: Method Not Allowed or missing parameters
      security:
        - DQF_PMANAGER_KEY: []
        - DQF_PROJECT_KEY: []
  /cattools/:
    get:
      tags:
        - attributes
        - CAT
      summary: Get the CAT tools available.
      description: Get a list of the CAT tools currently existing in the DQF database. Please contact us if your CAT tool is not available.
      operationId: getCATTools
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation - Returns the IDs and the names of the CAT tools.
        '400':
          description: Bad request
  /mtengines/:
    get:
      tags:
        - attributes
        - MT engines
      summary: Get the MT engines available.
      description: Get a list of the MT Engines currently existing in the DQF database. Please contact us if your MT engine is not available.
      operationId: getMTengines
      produces:
        - application/json
      responses:
        '200':
          description: successful operation - Returns the ID and the names of the MT engines.
        '400':
          description: Bad request
  /qualitylevel/:
    get:
      tags:
        - attributes
        - quality level
      summary: Get the translation quality levels for the project set up.
      description: Get a list of the available quality levels in the DQF database.
      operationId: getQualityLevel
      produces:
        - application/json
      responses:
        '200':
          description: successful operation - Returns the IDs and the names of the quality levels.
        '400':
          description: Bad request
  /process/:
    get:
      tags:
        - attributes
        - process
      summary: Get the Productivity processes for the project set up.
      description: Get a list of the productivity processes currently available in the DQF database.
      operationId: getProcess
      produces:
        - application/json
      responses:
        '200':
          description: 'Successful operation - Returns the IDs, the names and the availability of the processes(api_supported) through the API.'
        '400':
          description: Bad request
  /contenttype/:
    get:
      tags:
        - attributes
        - content type
      summary: Get the content types for the project set up.
      description: Get a list of the content types currently available in the DQF database.
      operationId: contentType
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation - Returns the IDs and the names of the content types.
        '400':
          description: Bad request
  /industry/:
    get:
      tags:
        - attributes
        - industry
      summary: Get the industries list for the project set up.
      description: Get a list of the industries currently available in the DQF database.
      operationId: getIndustry
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation - Returns the IDs and the names of the industries.
        '400':
          description: Bad request
  /languages/:
    get:
      tags:
        - attributes
        - languages
      summary: Get a language list for the project set up.
      description: Get a list of the supported languages currently available in the DQF database.
      operationId: getLanguages
      produces:
        - application/json
      responses:
        '200':
          description: 'Successful operation - Returns a list of DQF language identifiers (ISO 639 2-letter-language identifier"-"ISO 3166 two-letter country identifier).'
        '400':
          description: Bad request
  /errorLevel1/:
    get:
      tags:
        - attributes
        - errorreview
      summary: Get list of top level errors in error hierarchy
      description: Get a list of top level errors in error hierarchy currently available in the DQF database.
      operationId: getErrorLevel1
      produces:
        - application/json
      responses:
        '200':
          description: Successful operation - Returns the IDs and the descriptions of the top level errors.
        '400':
          description: Bad request
  /errorLevel1/{errorLevel1}/errorLevel2/:
    get:
      tags:
        - attributes
        - errorreview
      summary: Get list of second level errors in error hierarchy
      description: Get a list of second level errors in error hierarchy currently available in the DQF database for a certain top level error.
      operationId: getErrorLevel2
      produces:
        - application/json
      parameters:
        - in: path
          name: errorLevel1
          description: ID of top error level for which second level entries need to be fetched.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Successful operation - Returns the IDs and the descriptions of the second level errors.
        '400':
          description: Bad request
securityDefinitions:
  DQF_PMANAGER_KEY:
    type: apiKey
    name: DQF_PMANAGER_KEY
    in: header
    description: Project Managers can find their api key under their profile in the DQF tools after they register with TAUS.
  DQF_TRANSLATOR_KEY:
    type: apiKey
    name: DQF_TRANSLATOR_KEY
    in: header
    description: Translators will receive their api key in an email the first time they will work on a task or when they install a plugin by submitting their name and email.
  DQF_PROJECT_KEY:
    type: apiKey
    name: DQF_PROJECT_KEY
    in: header
    description: The Project key will be returned every time a new project is submitted to the DQF tools. This key will authorize authenticated translators to create tasks under the project. Only the project manager that created the project and the translator assigned to a task or created the task will be able to access the task data.
