swagger: "2.0"
info:
  description: |
    This is the TAUS DQF API server.
  version: "1.1.0"
  title: TAUS DQF
  termsOfService: https://www.taus.net/taus-terms-of-use
  contact:
    name: dqf-api@taus.net
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: dqf.taus.net
basePath: /api/v1
schemes:
  - https
paths:
  /productivityProject:
    post:
      tags:
        - project
      summary: Create a new project
      description: Initialize a new project that is sent to the DQF tools. Project attributes include name of project, quality level, process or mode of translation, source language, content type and industry. To add target languages and assign translators to a project use the POST(/productivityProject/{projectid}/task) method.
      operationId: addProject
      parameters:
        - name: name
          in: query
          description: project name in the DQF tools
          required: true
          type: string
        - name: quality_level
          in: query
          description: productivity quality level - Please specify 1 for "Good Enough" and 2 "Similar or equal to human translation".
          required: true
          type: integer
          format: int32
          default: 1
          enum:
            - 1
            - 2
        - name: process
          in: query
          description: the process or mode of translation. Options are Human, MT+PE, TM+Human, MT+PE+Human, MT+PE+TM+Human   
          required: true
          type: string
          enum:
            - Human
            - MT+PE
            - TM+Human
            - MT+PE+Human
            - MT+PE+TM+Human          
        - name: source_language
          in: query
          description: source language of the project.  Use of (two letter language id)-(two letter country identifier) combination. Validity of the id's (ISO 639-1 and ISO 3166 two-letter identifiers). Example (bg-BG, fr-FR, fr-CA, pt-BR).
          required: true
          type: string
        - name: contentType
          in: query
          description: project content type
          required: true
          type: string
          enum:
            - Audio/Video Content
            - DGT Documents
            - Marketing Material
            - Online Help
            - Social Media
            - Training Material
            - User Documentation
            - User Interface Text
            - Website Content
            - Knowledge Base
            - Legal
        - name: industry
          in: query
          description: project industry
          required: true
          type: string
          enum:
            - Automotive
            - Chemicals
            - Computer Hardware
            - Computer Software
            - Consumer Electronics
            - Energy, Water and Utilities
            - Financials
            - Healthcare
            - Industrial Electronics
            - Industrial Manufacturing
            - Legal Services
            - Leisure, Tourism and Arts
            - Medical Equipment and Supplies
            - Pharmaceuticals and Biotechnology
            - Professional and Business Services
            - Public Sector
            - Stores and Retail Distribution
            - Telecommunications
            - Undefined Sector
            - Religion
      responses:
        "200":
          description: successful operation. Returns the project id.
        "400":
          description: Invalid
        "405":
          description: Validation exception
  /productivityProject/{projectid}:
    get:
      tags:
        - project
      summary: Find project by ID
      description: Read a project by specifying its id.
      operationId: getProjectById
      produces:
        - application/json
      parameters:
        - in: path
          name: projectid
          description: ID of project that needs to be fetched
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: successful operation. Returns the project details.
        "400":
          description: Invalid ID supplied
        "405":
          description: Validation exception
        "404":
          description: Project not found
  /productivityProject/{projectid}/task:
    post:
      tags:
        - project
        - task
      summary: Add target languages and translators to a project.
      description: Add target languages and assign translators for each language pair to an initialized project by specifying its id. A task will be created for each translator assigned to a language pair.
      operationId: assignTask
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: projectid
          description: ID of project that a new task has to be added
          required: true
          type: integer
          format: int64      
        - name: target_language
          in: query
          description: target language of the project. Use of (two letter language id)-(two letter country identifier) combination. Validity of the id's (ISO 639-1 and ISO 3166 two-letter identifiers). Example (bg-BG, fr-FR, fr-CA, pt-BR).
          required: true
          type: string
        - name: translator_id
          in: query
          description: id of the translator. Use the POST(/translator) method to add a new translator or the GET(/translator) method to get the id of a translators from the database.
          required: true
          type: integer
          format: int64
      responses:
        "200":
          description: successful operation. Returns a taskid for each translator that has been assigned with a target language in the project.
        "400":
          description: Invalid ID supplied
        "404":
          description: Project not found
        "405":
          description: Validation exception
  /productivityProject/{projectid}/task/{taskid}:
    get:
      tags:
        - task
      summary: Find task by ID
      description: Find the translator and the language pair of each task.
      operationId: getTaskById
      produces:
        - application/json
      parameters:
        - name: projectid
          in: path
          description: project id in the DQF tools
          required: true
          type: integer
          format: int64      
        - in: path
          name: taskid
          description: task id belonging to a project in the DQF tools 
          required: true
          type: string
      responses:
        "200":
          description: successful operation. Returns the language pair and the translator for each task.
        "400":
          description: Invalid ID supplied
        "404":
          description: Project-Task not found
        "405":
          description: Validation exception
  /productivityProject/{projectid}/task/{taskid}/segment:
    post:
      tags:
        - task
        - segment
      summary: Add segments for a task
      description: A complete translated target segment can be submitted together with the source and the temporary translated segment for a particular task of a project. The translation time, the TM fuzzy match, and the technologies used can be submitted as well.
      operationId: addTask
      produces:
        - application/json
      parameters:
        - name: projectid
          in: path
          description: project id in the DQF tools
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: ID of task that the segment needs to be added
          required: true
          type: string          
        - name: source_segment
          in: query
          description: The source segment
          required: true
          type: string
        - name: target_segment
          in: query
          description: The MT output or TM match or empty segment
          required: true
          type: string
        - name: new_target_segment
          in: query
          description: Output of the translator
          required: true
          type: string
        - name: time
          in: query
          description: The translation time in ms
          required: false
          type: number
          format: float
        - name: tm_match
          in: query
          description: The TM match (percentage)
          required: false
          type: integer
          minimum: 0
          maximum: 100          
        - name: cat_tms
          in: query
          description: The id of the CAT tool and TMS used for the translation of the segment. Use the GET(/technology?technology=cattms) to get a list of CAT tools and TMS from the database.
          required: true
          type: integer
        - name: mtengine
          in: query
          description: The id of the MT Engine used for the translation of the segment. Use the GET(/technology?technology=mtengines) to get a list of MT Engines from the database.
          required: true
          type: integer
      responses:
        "200":
          description: successful operation. Returns the segmentid.
        "400":
          description: Invalid ID supplied
        "404":
          description: Project-Task not found
        "405":
          description: Validation exception
  /productivityProject/{projectid}/task/{taskid}/segment/{segmentid}:
    put:
      tags:
        - task
      summary: Update a segment of a task
      description: An already submitted translated segment can be updated. The time with be added to the segment already submitted.
      operationId: addTask
      produces:
        - application/json
      parameters:
        - name: projectid
          in: path
          description: project id in the DQF tools
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: ID of task in the DQF tools
          required: true
          type: string
        - in: path
          name: segmentid
          description: ID of segment that needs to be updated
          required: true
          type: string          
        - name: new_target_segment
          in: query
          description: New output of the translator
          required: true
          type: string
        - name: time
          in: query
          description: The new translation time
          required: false
          type: number
          format: float
        - name: mtengine
          in: query
          description: The id of the MT Engine used for the translation of the segment. Use the GET(/technology?technology=mtengines) to get a list of MT Engines from the database.
          required: true
          type: integer
      responses:
        "200":
          description: successful operation. Returns the segmentid.
        "400":
          description: Invalid ID supplied
        "404":
          description: Project-Task-Segment not found
        "405":
          description: Validation exception
  /productivityProject/{projectid}/task/{taskid}/raw_file:
    post:
      tags:
        - document
      summary: Upload an raw translated XLIFF file
      description: After a project has been created and translators have been assigned to it, a XLIFF Version 1.2 file can be uploaded which contains all the source and the TM or MT translated segments for a DQF task. This way these segments won't be submitted one by one but all together.
      operationId: addRawDocument
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: projectid
          in: path
          description: project id in the DQF tools
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: ID of pet that needs to be fetched
          required: true
          type: integer
          format: int64
        - in: formData
          name: raw_file
          description: XLIFF Version 1.2 Document object that needs to be added to the DQF tools
          required: true
          type: file
      responses:
        "200":
          description: successful operation.
        "400":
          description: Invalid ID supplied
        "404":
          description: Project-Task not found
        "405":
          description: Validation exception
  /productivityProject/{projectid}/task/{taskid}/updated_file:
    post:
      tags:
        - document
      summary: Upload an updated translated XLIFF file
      description: After a project has been created, translators have been assigned to it and a raw translated file has been uploaded, a XLIFF Version 1.2 file can be uploaded which contains all the source segments and the final segments translated by the translator for a DQF task. This way these segmetns won't be submitted one by one but all together.
      operationId: addUpdatedDocument
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - name: projectid
          in: path
          description: project id in the DQF tools
          required: true
          type: integer
          format: int64
        - in: path
          name: taskid
          description: ID of pet that needs to be fetched
          required: true
          type: string
        - in: formData
          name: updated_file
          description: XLIFF Version 1.2 Document object that needs to be added to the DQF tools
          required: true
          type: file
      responses:
        "200":
          description: successful operation.
        "400":
          description: Invalid ID supplied
        "404":
          description: Project-Task not found
        "405":
          description: Validation exception
  /translator:
    post:
      tags:
        - translator
      summary: Create a translator
      description: Add translators to the database for new and upcoming projects. This can only be done by the logged in user.
      operationId: createTranslator
      produces:
        - application/json
      parameters:
        - in: query
          name: name
          description: Add description
          required: false
          type: string 
        - in: query
          name: email
          description: Add description
          required: true
          type: string
          format: email
      responses:
        "200":
          description: successful operation. Returns the id of the translator.
        "400":
          description: Invalid
        "404":
          description: Not found
        "405":
          description: Validation exception
    get:
      tags:
        - translator
      summary: Get translator by email
      description: An existing translator in the database can be found and used for new or updated tasks.
      operationId: getTranslatorByEmail
      produces:
        - application/json
      parameters:
        - in: query
          name: email
          description: The email of the translator that needs to be found.
          required: true
          type: string
          format: email
      responses:
        "200":
          description: successful operation - Returns the ID of the translator
        "400":
          description: Invalid
        "404":
          description: Not found
        "405":
          description: Validation exception
  /technology:
    get:
      tags:
        - technology
      summary: Get the CAT/TM tools or MT engines available.
      description: Get a list of the CAT/TM tools or MT Engines currently existing in the DQF database. Please contact us if your CAT/TM tool or MT engine is not available.
      operationId: getCatTmMt
      produces:
        - application/json
      parameters:
        - in: query
          name: technology
          description: For valid response try "mtengines" or "cattms" to get the required list.
          required: true
          type: string
      responses:
        "200":
          description: successful operation - Returns the ID and the name of the technologies.
        "400":
          description: Invalid
        "404":
          description: Not found
        "405":
          description: Validation exception
securityDefinitions:
  dqf_auth:
    type: oauth2
    authorizationUrl: http://dqf.taus.net/api/oauth/dialog
    flow: implicit